<main>

  <section class='container'>
    <section class="new-post">
      <form action='/posts' method='post'>
        Message: <input type='text' name='message' id='post-message'>
        <input type='submit' value='Post' id='post-button'>
      </form>
    </section>
  </section>

  <section class='container'>
    <section class='posts'>
      <ul>
        <% @posts.each do |post| %>
          <li id='post-container'><%=post.message %></li>
        <% end %>
      </ul>
    </section>
  </section>

</main>
