<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>Critter</title>
</head>

<body>
  <section class="navbar">
      <a href="/"><img class="twitter-logo" src="/images/twitter-logo.png"></img></a>
  </section>

  <h1 class="welcome-note">Welcome to Critter</h1>

  <section class='container'>
    <section class="new-post">
      <form action='/posts' method='post'>
        Message: <input type='text' name='message' id='post-message'>
        Tags: <input type='text' name='tags' id='post-tags'>
        <input type='submit' value='Post' id='post-button'>
      </form>
    </section>
  </section>

  <section class='container'>
    <section class='posts'>
      <ul>
        <% @posts.each do |post| %>
          <li id='post-container'><%=post.message %></li>
        <% end %>
      </ul>
    </section>
  </section>

</body>
</html>
