<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>Critter</title>
</head>

<body>

  <section class="navbar">
      <a href="/"><img class="twitter-logo" src="/images/twitter-logo.png"></img></a>
  </section>

</body>
</html>
