<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>Critter</title>
</head>

<body>

  <section class="navbar">
    <a href="/"><img class="twitter-logo" src="/images/twitter-logo.png"></img></a>
  </section>

  <section class='flash-notice'>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  </section>

  <section>
  <% if current_user %>
    <h1>Welcome, <%= current_user.email %></h1>
  <% end %>
  </section>

  <%= yield %>

</body>
</html>
