body {
  max-width: 100%;
  background-image: url("/images/critterclouds.png");
  background-repeat: repeat-x;
  background-color: #c0deed;
}

.twitter-logo {
  width: 50px;
  height: auto;
  padding-left: 2.5%;
}

.navbar {
  width: 100%;
  margin-bottom: 3%;
  background-color: white;
}

.new-post {
  text-align: center;
}

.posts {
  text-align: center;
}

#post-message {
  width: 350px;
}

#post-button {
  background-color: #55acee;
  border-color: #3b88c3;
  color: white;
}
