body {
  max-width: 100%;
  background-image: url("/images/critterclouds.png");
  background-repeat: repeat-x;
  background-color: #c0deed;
}

.twitter-logo {
  width: 50px;
  height: auto;
  padding-left: 2.5%;
}

.navbar {
  width: 100%;
  margin-bottom: 3%;
  background-color: white;
}

.new-post {
  text-align: center;
}

#post-message {
  width: 350px;
}

#post-button {
  background-color: #55acee;
  border-color: #3b88c3;
  color: white;
}

#post-container {
  /*display: block;
  width: 500px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  border: solid 1px #3b88c3;
  border-radius: 5px;
  margin: auto;*/
  text-align: center;
}

.welcome-note {
  text-align: center
}
